:root {
  --color-main: #a12f20;
  --color-dark: #262626;
  --color-light: white;
  --color-lightergray: #f9f9f9;
  --color-lightgray: #efefef;
  --color-gray: #cacaca;
  --color-darkgray: #8a8a8a;
  --color-darkergray: #5c5c5c;
  --color-darkestgray: #3b3b3b;
  --color-placeholder: var(--color-gray);
  --container-padding-x: 8px;
  --max-width: 1200px;
  font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans',
  -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.container {
  padding: 0 var(--container-padding-x);
  margin: auto;
}

@media screen and (min-width: 769px) {
  .container {
    max-width: var(--max-width);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;  
  /* text-rendering: optimizeSpeed; */
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.nav {
  box-shadow: 0 0 16px var(--color-gray);
  position: sticky;
  top: 0px;
  background-color: var(--color-light);  
  z-index: 100;
  max-width: 100%;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.nav-logo {
  max-width: 14%;
}

.nav-cabinet {
  display: flex;
  align-items: end;
  max-width: 17%;
}

.stranici {
  display: flex;
  height: 55px;
  gap: 25px;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  background: url(http://www.medicall.com.tr/resources/files/big-category.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

[class ^="tabs"] {
  background-color: none;
  border: 1px black;
  padding: auto;
  margin: auto;
  font-size: 1.1em;
}

[class ^="tabs"] > a {
  font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans',
    -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  text-decoration-line: none;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  line-height: 55px;
}

.footer {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: var(--color-dark);
  max-width: 100%;
  height: 100%;
}

hr {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  height: 1px;
  border-top: 1px solid var(--color-darkergray);
}

.footer-links {
  padding-top: 15px;
  display: flex;
  column-gap: 10px;
  flex-flow: row;
  color: var(--color-light);
  font-size: 0.9rem;
}

.footer-links > img {
  height: 16px;
  padding-left: 10px;
  padding-top: center;
}
.footer a {
  color: var(--color-light);
}

.footer a:hover {
  color: var(--color-gray);
}

.footer a:active {
  color: var(--color-main);
}