.hero {
  height: 364px;
  background: url(https://cdn.forbes.ru/files/forbes_import/26/26980d2587e44f6b7afe9988f6422575.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  margin: 0 auto;
}

.hero-info {
  box-shadow: 0 0 16px var(--color-gray);
  height: 200px;
  padding: 30px 30px;
  background-color: var(--color-light);
  width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: var(--border-radius);
  text-shadow: 0.8px 0.8px 1px rgb(30, 30, 30);
}

.hero-info > h1 {
  margin: 0;
  font-size: 30px;
}

.shrift {
  font-size: 1.1em;
}
.stores-cards {
  display: grid;  
  grid-template-columns: 600px auto;
  grid-template-rows: auto;
  column-gap: 35px;
  row-gap: 40px;
  justify-content: stretch;
  margin-bottom: 45px;
  margin-top: 30px;
  text-decoration: none;
  color: var(--color-dark);
  font-size: 1.1em;
}

.stores-header {
  margin-top: 50px;
  margin-bottom: 4px;
  line-height: 1.5em;
}

.stores-card:hover {
  background-color: var(--color-lightergray);
}

.stores-card-pic {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.stores-card-pic img {
  transition: 0.3s;
  width: 100%;
}

.stores-card-pic img:hover {
  transform: scale(1.03);
}

i {
  font-size: 1.05em;
}